.album {
	padding-top: 20px;
	margin-top: 20px;

	.status-main {
		border: none;
		display: flex;
	}

	.intro-menu {
		margin-bottom: auto;
		margin-top: 5px;
	}
}

.album-detail {
	width: calc(100% - 110px);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	column-gap: 15px;
	margin-top: -6px;
}

.album-title {
	line-height: 16px;

	span {
		color: #1771d6;
		cursor: pointer;
	}
}



.album-date {
	line-height: 15px;

	font-size: 15px;
	color: #595c6c;
}

.album-content {
	padding: 0 20px 20px;
}

.album-photo {
	width: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 4px;
	//margin-top: 10px;
}

.album-photos {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 20px;
	margin-bottom: 35px;
	column-gap: 8px;
	row-gap: 8px;
}

.media {
	background-size: cover;
	background-position: center;
	width: 450px;
	height: 252px;
	flex: 0 0 49%;
}

.album-photos > .album-photo {
	//width: 50%;
	max-width: 100%;
	max-height: 100%;
}

//.album-right {
//	width: 50%;
//	//margin-left: 10px;
//	line-height: 0;
//	display: flex;
//	flex-direction: column;
//	.album-photo {
//		height: calc(50%);
//	}
//}

.album-actions {
	padding: 0 20px 20px;
}

.album-action {
	margin-right: 20px;
	text-decoration: none;
	color: #a2a4b4;
	display: inline-flex;
	align-items: center;
	font-weight: 600;

	&:hover {
		color: #fff;
	}

	svg {
		width: 16px;
		margin-right: 6px;
	}
}