.body--login {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main__wrapper--login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login__form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;

	.login__input--submit {
		//color: inherit;
		background: $white;
		margin-top: 10px;
		padding: 10px 20px;
	}
}



.login__link--signup {
	color: $white;
}